@media only screen and (max-width: 1018px){
    .select-item,.advance-search{
        display: none;
    }
    .text-heading{
        font-size: 20px !important;
        margin-top: 12%;
    }
    .select-bg{
        background-color: none;
    }
}

